<div class="row">
  <div class="col-12 col-sm-5 col-md-2">
    <button class="btn-save" [printElement]="'printable'" hiqPrint>Skriv ut</button>
  </div>
</div>

<div id="printable" class="clearfix">
  <div id="user-info" class="clearfix">
    <div class="clearfix profile-image float-left">
      <img [src]="photoUrl" class="float-left">
    </div>
    <div class="float-left" style="display: block; width: 50%;">
      <h1>{{(user | async)?.firstname}} {{(user | async)?.lastname}}</h1>
      <p>{{(user | async)?.bio}}</p>
    </div>
    <div class="float-right hiq-logo">
      <img src="../../../assets/images/hiq_svart.png">
    </div>
  </div>

  <hr />
  <hiq-experience-list [experiences]="works" [experienceTitle]="'Tidigare erfarenheter'"></hiq-experience-list>

  <hr />
  <hiq-experience-list [experiences]="educations" [experienceTitle]="'Utbildning'"></hiq-experience-list>
</div>

