@import "../../../styles/colors";
@import "../../../styles/_mixings";

#register-button {
  @include button(98%, white, $cyan);
}

.link-to-login {
  color: black;
  padding-top: 10px;
  display: inline-block;


  &:hover {
    color: $magenta;
    cursor: pointer;
  }
}

.center-text {
  text-align: center;
}
